body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background: rgb(0, 0, 128);
    color: white;
    padding: 20px;
    background-size: cover;
    font-weight: bold;
}
h1, .intro {
    color:white;
    text-align: center;
    margin: 10px 10px 50px 0;
}

    section {
    background: greenyellow;
    border-radius: 10px;
    padding: 10px;
    margin: 2opx auto;
    max-width: 100%;
    background-size: cover;
}
h2{
    font-size: 20px;
    color: darkblue;
    text-align: center;
    font-weight: bold;
    padding: 10px auto;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}
p .intro{
    font-size: 18px;
    line-height: 2;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
a{
    color: blue;
    text-decoration: none;
    font-size: 35px;
   
}
nav a:hover{
    text-decoration: none;
    width: 100px;
    background: red;
    color: white;
    border: 2px solid lightgray;
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s ease; 

}
nav ul a{
    list-style-type: none;
    padding: 0;
    margin: 20px;
    font-weight: bold;
    color: white;
    text-align: center;


}
nav ul li{
    display: inline;
    margin: 0 50px

}
.profile-image{width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 20px auto;
  border: 4px solid white;
    
}
.list{
       list-style-type: none; 
       padding: 0;
       width: 350px;
       margin: 0 auto;
       padding: 0;   
    
    font-weight: bold;
    

    
}
.list li{
    width: 300px;    
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}
p a{
    font-size: 20px;
}
section{
    background: linear-gradient(to right, yellow, greenyellow);
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    display: block;
    justify-content: space-between;
    color: darkgrey;
    line-height: 30px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}
.icon{
    width: 20px;
}
#projects li{
    list-style-type: none;
    font-weight: bold;
    text-align: center;
}
#skills ul{
    list-style-type: none;
    font-weight: bold;  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
@media (min-width: 600px) {
    section {
        margin: 10px auto;
        max-width: 100%;
        font-weight: bold;
        color: black;
    }
}
